<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
  
      
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <!--<authentication mode="Forms">
    <forms loginUrl="/Login.aspx"></forms>
  </authentication>

  <authorization>
    <deny users="?"/>
    <allow users="*"/>
  </authorization>-->



  <!--<connectionStrings>
    <add name="Repuestos2Entities" connectionString="metadata=res://*/Repuestos.csdl|res://*/Repuestos.ssdl|res://*/Repuestos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Repuestos2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Repuestos2Entities1" connectionString="metadata=res://*/Repuestos.csdl|res://*/Repuestos.ssdl|res://*/Repuestos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Repuestos2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Repuestos2Entities2" connectionString="metadata=res://*/Repuestos.csdl|res://*/Repuestos.ssdl|res://*/Repuestos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Repuestos2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Repuestos2Entities3" connectionString="metadata=res://*/Repuestos.csdl|res://*/Repuestos.ssdl|res://*/Repuestos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Repuestos2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Repuestos2ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString2" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString3" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString4" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString5" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString6" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString7" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString8" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString9" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <connectionStrings>
    <add name="Repuestos2Entities" connectionString="metadata=res://*/Repuestos.csdl|res://*/Repuestos.ssdl|res://*/Repuestos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Repuestos2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Repuestos2Entities1" connectionString="metadata=res://*/Repuestos.csdl|res://*/Repuestos.ssdl|res://*/Repuestos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Repuestos2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Repuestos2Entities2" connectionString="metadata=res://*/Repuestos.csdl|res://*/Repuestos.ssdl|res://*/Repuestos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Repuestos2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Repuestos2Entities3" connectionString="metadata=res://*/Repuestos.csdl|res://*/Repuestos.ssdl|res://*/Repuestos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Repuestos2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Repuestos2Entities4" connectionString="metadata=res://*/Repuesto.csdl|res://*/Repuesto.ssdl|res://*/Repuesto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Repuestos2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Repuestos2ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString2" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString3" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString4" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString5" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString6" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString7" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString8" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString9" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString10" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString11" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString12" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString13" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString14" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString15" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString16" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString17" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString18" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Repuestos2ConnectionString19" connectionString="Data Source=localhost;Initial Catalog=Repuestos2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>



</configuration>
